@model MyPetProject.Data.Models.Kingdom

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var name = Model.Name;
    var description = Model.Description;
    var group = Model.Group;
    var diet = Model.Diet;
    var isPet = Model.IsPet;
    var isFarm = Model.IsFarm;

    <div class="row justify-content-md-center text-center">
        <div class="col-4">

            <h1 class="text-danger">Delete</h1>
            <hr />
            <div class="row">
                <div class="col-sm-12">
                    <h3>@name</h3>
                </div>
                <p>
                    <div class="card col-12 col-lg-12 game-card">
                        @if (!Model.PicUrl.StartsWith("http") &&
                      !Model.PicUrl.EndsWith(".jpg") &&
                      !Model.PicUrl.EndsWith(".png") &&
                      !Model.PicUrl.EndsWith(".jpeg"))
                        {
                            <img class="card-img-top" src="~/img/no-image.png" alt="Card image cap">
                        }
                        else
                        {
                            <img class="card-img-top" src="@Model.PicUrl" alt="Card image cap">
                        }
                    </div>
                </p>
                <div class="col-sm-12">
                    Group : @group
                </div>
                <p>
                    <div class="col-sm-12">
                        Diet : @diet
                    </div>
                </p>
                <div class="col-sm-12">
                    Is Pet Animal : @if (isPet)
                    {<span style="color:green">✔</span>}
                    else
                    { <span style="color:darkred">✘</span>}
                </div>
                <p>
                    <div class="col-sm-12">
                        Is Farm Animal : @if (isFarm)
                        {<span style="color:green">✔</span>}
                        else
                        { <span style="color:darkred">✘</span>}
                    </div>
                </p>
                <div class="col-sm-12">
                    Description : @description
                </div>
            </div>

            <h3 class="text-danger">Are you sure you want to delete this?</h3>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a href="javascript:history.back()">Go Back</a>
            </form>
        </div>
    </div>
}
