@using MyPetProject.Common
@using MyPetProject.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (this.SignInManager.IsSignedIn(this.User))
    {
        <li class="dropdown">

            <a class="btn dropdown-toggle nav-link text-dark" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="dropdownMenu">My Collections</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item dropdownMenu" asp-area="" asp-controller="MyCollections" asp-action="MyKingdoms">Kingdoms</a>
                <a class="dropdown-item dropdownMenu" asp-area="" asp-controller="MyCollections" asp-action="MyBreeds">Breeds</a>
                <a class="dropdown-item dropdownMenu" asp-area="" asp-controller="MyCollections" asp-action="MySubbreeds">Subbreeds</a>
                <a class="dropdown-item dropdownMenu" asp-area="" asp-controller="MyCollections" asp-action="MyFoodTypes">Food Types</a>
                <a class="dropdown-item dropdownMenu" asp-area="" asp-controller="MyCollections" asp-action="MyFoods">Foods</a>
            </div>
        </li>
        <li class="dropdown">
            <a class="btn dropdown-toggle nav-link text-dark" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @{
                    var userName = this.User.Identity.Name;
                    int index = userName.IndexOf("@");
                    if (index >= 0) { userName = userName.Substring(0, index); }
                    <span class="dropdownMenu">@userName</span>
                }
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                <a class="dropdown-item dropdownMenu" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">User Settings</a>
                @if (this.SignInManager.IsSignedIn(this.User))
                {
                    var user = await this.UserManager.GetUserAsync(this.User);
                    if (this.User.IsInRole(GlobalConstants.AdministratorRoleName) == false)
                    {
                        <form asp-controller="Admins" asp-action="Index" name="myForm" onsubmit="return validateForm()" method="post">
                                <input type="text" name="fname" placeholder="Admin password" class="form-control">
                                <button type="submit" class="dropdown-item dropdownMenu">Become Admin</button>
                        </form>
                    }
                }
                @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    var user = await this.UserManager.GetUserAsync(this.User);
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
                        <button type="submit" class="dropdown-item dropdownMenu" onclick=@{
                        await this.UserManager.RemoveFromRoleAsync(user, "Administrator");
                        }>
                            Remove Admin
                        </button>
                    </form>

                    <a class="dropdown-item dropdownMenu" asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin">Admin Panel</a>
                }
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
                    <button type="submit" class="dropdown-item dropdownMenu">Logout</button>
                </form>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>

<script>
    function validateForm() {
        let x = document.forms["myForm"]["fname"].value;
        if (x != "becomeadmin123") {
            alert("Wrong admin password.");
            return false;
        }
    }
</script>
