@model MyPetProject.Data.Models.Breed

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var name = Model.Name;
    var picture = Model.PicUrl;
    var description = Model.Description;
    var kingdomName = Model.KingdomName;
    <div class="row justify-content-md-center text-center">
        <div class="col-4">
            <h1 class="text-danger">Delete</h1>

            <div>
                <hr />
                <div class="row">
                    <div class="col-sm-12">
                        <h3>@name</h3>
                    </div>
                    <p>
                        <div class="card col-12 col-lg-12 game-card">
                            @if (!picture.StartsWith("http") &&
                          !picture.EndsWith(".jpg") &&
                          !picture.EndsWith(".png") &&
                          !picture.EndsWith(".jpeg"))
                            {
                                <img class="card-img-top" src="~/img/no-image.png" alt="Card image cap">
                            }
                            else
                            {
                                <img class="card-img-top" src="@picture" alt="Card image cap">
                            }
                        </div>
                    </p>
                    <div class="col-sm-12">
                        Kingdom Name : @kingdomName
                    </div>
                    <p>
                        <div class="col-sm-12">
                            Description :   @description
                        </div>
                    </p>
                </div>

                <h3 class="text-danger">Are you sure you want to delete this?</h3>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <a href="javascript:history.back()">Go Back</a>
                </form>
            </div>
        </div>
    </div>
}
