@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <main class="text-center">
        <div>
            <h1>About</h1>
            <p>
                The site is made with much love for the animals.
                <br>At first it was suppose to be only about pet animals, but I think all animals should get the same love.
                <br>I tried to create section trying to distinguish each one of them as close as possible.
                <br><a href="~/Identity/Account/Register">Register</a> or <a href="~/Identity/Account/Login">Login</a> to use the privilege of creating and managing your animals and foods.
            </p>
        </div>

        <div>
            <h2>Guide to the site</h2>
            <p>
                There is the <a asp-controller="Home" asp-action="Index">Home</a> page, where you can check all the animals of the day.
                <br><br>There is the <a asp-controller="Home" asp-action="Groups">Groups</a> page, where you can choose an animal according to its group. They are divided into animal group type and its diet. Here they are...
            </p>
        </div>
        <div class="row" style="justify-content: center;">
            <div class="col-lg-3">
                <ul style="list-style-type:none;">
                    <li>There are five types of animal groups.</li>
                    <li><h3>Groups</h3></li>
                    <li><a asp-controller="Kingdoms" asp-action="Mammals">Mammals</a></li>
                    <li><a asp-controller="Kingdoms" asp-action="Birds">Birds</a></li>
                    <li><a asp-controller="Kingdoms" asp-action="Fish">Fish</a></li>
                    <li><a asp-controller="Kingdoms" asp-action="Reptiles">Reptiles & Amphibians</a></li>
                    <li><a asp-controller="Kingdoms" asp-action="Insects">Insects & Arachnids</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul style="list-style-type:none;">
                    <li>There are three types of animal diet.</li>
                    <li><h3>Diet</h3></li>
                    <li><a asp-controller="Kingdoms" asp-action="Herbivores">Herbivores</a></li>
                    <li><a asp-controller="Kingdoms" asp-action="Carnivores">Carnivores</a></li>
                    <li><a asp-controller="Kingdoms" asp-action="Omnivores">Omnivores</a></li>
                </ul>
            </div>
        </div>
        <div>
            <p>
                There are three dropdown menus called "Categories", "Habitat" and "Foods"...
            </p>
        </div>
        <div class="row" style="justify-content: center;">
            <div class="col-lg-3">
                <ul style="list-style-type:none; ">
                    <li>Animals are separated in three categories.</li>
                    <li><h3>Categories</h3></li>
                    <li><a asp-controller="Kingdoms" asp-action="Index">Kingdoms</a></li>
                    <li><a asp-controller="Breeds" asp-action="Index">Breeds</a></li>
                    <li><a asp-controller="Subbreeds" asp-action="Index">Subbreeds</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul style="list-style-type:none;">
                    <li>Three types of habitats separating the animals.</li>
                    <li><h3>Habitat</h3></li>
                    <li><a asp-controller="Home" asp-action="HomeAnimals">Home Animals</a></li>
                    <li><a asp-controller="Home" asp-action="FarmAnimals">Farm Animals</a></li>
                    <li><a asp-controller="Home" asp-action="WildAnimals">Wild Animals</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul style="list-style-type:none;">
                    <li>Animals need to eat too, here's a catalogue where foods can be added.</li>
                    <li><h3>Foods</h3></li>
                    <li><a asp-controller="FoodType" asp-action="HomeAnimals">Food Types</a></li>
                    <li><a asp-controller="Food" asp-action="HomeAnimals">Foods</a></li>
                </ul>
            </div>
        </div>
        <div>
            <p>
                The <a asp-controller="Home" asp-action="Search">Search</a> page is as advanced as I could have made it.
                <br> - It has search field where you can search by everything except the Description column.
                <br> - A dynamic menu on the left where people can mark/unmark what they are looking for.
                <br> - It has all the Categories and Foods dropdown menus.
                <br> - You can also click each entity to navigate to its collection or description if there is no collection attached to it.
                <br> - Pagination is implemented.
            </p>
        </div>
    </main>
</div>