@{
    ViewData["Title"] = "Groups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    <link href="~/css/groups.css" rel="stylesheet" />
}

<table style="border-collapse: collapse;">
    <tbody class="row-cols-sm-2" style="">
        <tr class="central_text text-center">
            @{
                for (int i = 1; i <= 8; i++)
                {
                    var item = "";
                    if (i == 1) { item = "Insects"; }
                    if (i == 2) { item = "Carnivores"; }
                    if (i == 3) { item = "Omnivores"; }
                    if (i == 4) { item = "Herbivores"; }
                    if (i == 5) { item = "Reptiles"; }
                    if (i == 6) { item = "Birds"; }
                    if (i == 7) { item = "Mammals"; }
                    if (i == 8) { item = "Fish"; }

                    <td class="moon_container moon@(i)">
                        <a href="~/Kingdoms/@(item)">
                            <img class="moon moon@(i)" src="~/img/groups/@(item.ToLower()).jpg">
                        </a>
                    </td>
                    <td class=" moon_container moon@(i)">
                        <a href="~/Kingdoms/@(item)">
                            @if (i == 1) { item = "Insects & Arachnids"; }
                            @if (i == 5) { item = "Reptiles & Amphibians"; }
                            <h5 class="moon moon@(i)" style="text-align:center">@(item)</h5>
                        </a>
                    </td>
                }
                <td>
                    <span><h1 id="group">Groups</h1></span>
                </td>
            }
        </tr>
    </tbody>
</table>
