@{
    ViewData["Title"] = "Group";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    span {
        border-radius: 10px;
        border-radius: 10px;
        border-color: black;
        background-color: black;
        color: white;
        text-decoration: none
    }

    a:link {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

</style>

<table class="table text-center">
    <div class="row mt-5 mb-5 d-flex justify-content-center">
        <div class="central_text text-center" style="top: 250px">
            <h1 style="font-size: 125px; bottom: 100px;">Groups</h1>

            <!-- Birds -->
            <div class="moon_container moon1">
                <a id="birdsImg" href="~/Kingdoms/Birds"><img class="moon moon1" src="~/img/groups/birds.png" /></a>
            </div>
            <div class="moon_container moon1">
                <a id="birdsH1" href="~/Kingdoms/Birds"><h1 class="moon moon1"><span> Birds </span></h1></a>
            </div>

            <!-- Insects & Arachnids -->
            <div class="moon_container moon2">
                <a id="insectsImg" href="~/Kingdoms/Insects"><img class="moon moon2" src="~/img/groups/insects.jpg"></a>
            </div>
            <div class="moon_container moon2">
                <a id="insectsH1" href="~/Kingdoms/Insects" ><h1 class="moon moon2" style="font-size:xx-large;"><span> Insects & </span><span> Arachnids </span></h1></a>
            </div>

            <!-- Fish -->
            <div class="moon_container moon3">
                <a id="fishImg" href="~/Kingdoms/Fish"><img class="moon moon3" src="~/img/groups/fish.jpg"></a>
            </div>
            <div class="moon_container moon3">
                <a id="fishH1" href="~/Kingdoms/Fish"><h1 class="moon moon3"><span> Fish </span></h1></a>
            </div>

            <!-- Reptiles & Amphibians -->
            <div class="moon_container moon4">
                <a id="reptilesImg" href="~/Kingdoms/Reptiles"><img class="moon moon4" src="~/img/groups/reptiles.jpg"></a>
            </div>
            <div class="moon_container moon4">
                <a id="reptilesH1" href="~/Kingdoms/Reptiles"><h1 class="moon moon4" style="font-size:xx-large;"><span> Reptiles & </span><span> Amphibians </span></h1></a>
            </div>

            <!-- Mammals -->
            <div class="moon_container moon5">
                <a id="mammalsImg" href="~/Kingdoms/Mammals"><img class="moon moon5" src="~/img/groups/mammals.jpg"></a>
            </div>
            <div class="moon_container moon5">
                <a id="mammalsH1" href="~/Kingdoms/Mammals"><h1 class="moon moon5"><span> Mammals </span></h1></a>
            </div>
        </div>
    </div>
</table>

@*
    <!-- Mammals -->
    <div class="card col-6 col-lg-3 game-card" style="width: 18rem; border: none;">
        <h1 class="card-title text-center">Mammals</h1>
        <img src="~/img/groups/mammals.jpg" class="rounded" alt="Groups">
        <div class="card-body">
        </div>
    </div>

    <!-- Birds -->
    <div class="card col-6 col-lg-3 game-card" style="width: 18rem; border: none;">
        <h1 class="card-title text-center">Birds</h1>
        <img src="~/img/groups/birds.png" class="rounded" alt="Groups">
        <div class="card-body">
        </div>
    </div>

    <!-- Fish -->
    <div class="card col-6 col-lg-3 game-card" style="width: 18rem; border: none;">
        <h1 class="card-title text-center">Fish</h1>
        <img src="~/img/groups/fish.jpg" class="rounded" alt="Groups">
        <div class="card-body">
        </div>
    </div>

    <!-- Reptiles & Amphibians -->
    <div class="card col-6 col-lg-3 game-card" style="width: 18rem; border: none;">
        <h1 class="card-title text-center">Reptiles & Amphibians</h1>
        <img src="~/img/groups/reptiles.jpg" class="rounded" alt="Groups">
        <div class="card-body">
        </div>
    </div>

    <!-- Insects & Arachnids -->
    <div class="card col-6 col-lg-3 game-card" style="width: 18rem; border: none;">
        <h1 class="card-title text-center">Insects & Arachnids</h1>
        <img src="~/img/groups/insects.jpg" class="rounded" alt="Groups">
        <div class="card-body">
        </div>
    </div>*@
