h5 {
    border-radius: 10px;
    border-radius: 15px;
    border-color: black;
    background-color: black;
    color: white;
    text-decoration: none
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 100px;
    margin-right: 5px;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
/*
    body {
        background-color: coral;
    }*/

.moon_container {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20%;
    transform: translate(-60%, -50%);
}

.moon {
    width: 100%;
    height: auto;
    position: relative;
    left: 175%;
}

/*Insects*/
.moon_container.moon1 {
    transform: translate(-50%, -50%);
}
/*Carnivores*/
.moon_container.moon2 {
    transform: translate(-50%, -50%) rotate(45deg);
}
/*Omnivores*/
.moon_container.moon3 {
    transform: translate(-50%, -50%) rotate(90deg);
}
/*Herbivores*/
.moon_container.moon4 {
    transform: translate(-50%, -50%) rotate(135deg);
}
/*Reptiles*/
.moon_container.moon5 {
    transform: translate(-50%, -50%) rotate(180deg);
}
/*Birds*/
.moon_container.moon6 {
    transform: translate(-50%, -50%) rotate(225deg);
}
/*Mammals*/
.moon_container.moon7 {
    transform: translate(-50%, -50%) rotate(270deg);
}
/*Fish*/
.moon_container.moon8 {
    transform: translate(-50%, -50%) rotate(315deg);
}

.moon.moon2 {
    transform: rotate(-45deg);
}

.moon.moon3 {
    transform: rotate(-90deg);
}

.moon.moon4 {
    transform: rotate(-135deg);
}

.moon.moon5 {
    transform: rotate(-180deg);
}

.moon.moon6 {
    transform: rotate(-225deg);
}

.moon.moon7 {
    transform: rotate(-270deg);
}

.moon.moon8 {
    transform: rotate(-315deg);
}
