/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}


/*
    CUSTOM CSS BELOW
*/


div.card.col-6.col-lg-3.text-center {
    border-radius: 25px;
    width: 24%;
    margin: .25rem;
}

.card-img-top {
    justify-content: center;
}

.card-body {
    mt: 100px;
}

div.card.style {
    display: flex;
    flex-flow: column;
}

.card polymer-element.style {
    margin-top: auto;
}

.transparent_square {
    width: 100%;
    height: auto;
}

.central_text {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

/* Back to top button */
#backToTop {
    position: fixed;
    display: none;
    background: #0051ba;
    color: #fff;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
    text-decoration: none;
}

    #backToTop h3 {
        padding-top: 10px;
        color: #fff;
    }

    #backToTop:hover {
        background: #292929;
        color: #fff;
    }

/* Search menu */
#secondMenu a.active span {
    background: #cccccc;
}

/* Pagination links */
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

    /* Style the active/current link */
    .pagination a.active {
        background-color: black;
        color: white;
    }

    /* Add a grey background color on mouse-over */
    .pagination a:hover:not(.active) {
        background-color: #ddd;
    }

.dataTables_paginate a {
    color: #0366d6;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

    .dataTables_paginate a:hover {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
    }

    .dataTables_paginate a:current {
        background-color: dodgerblue;
        color: white;
    }

div a span paginate_button a:current {
    background-color: dodgerblue;
    color: white;
}

/* Pages background color and text color*/
body, html, main {
    background-color: #ffc107;
    color: black;
}

.btn-primary {
    background-color: #0051ba;
}

a {
    color: #0051ba;
}

.table {
    --bs-table-accent-bg: #5486b6;
    --bs-table-striped-bg: #b8cde0;
}

a {
    text-decoration: none;
}

    a:hover {
        cursor: pointer;
    }

td:hover {
    cursor: pointer;
}


.flexing {
    flex-flow: column;
}

.dataTables_paginate a.current {
    border-radius: 25px;
    background-color: #0051ba;
    color: white;
}

.dataTables_paginate a.disabled {
    color: grey;
}

.dropdownMenu {
    font-family: var(--bs-font-sans-serif);
    font-weight: 700;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}


.content {
    padding-top: 70px;
}

.nav {
    position: sticky;
    top: 70px;
}

#copyright {
    position: absolute;
    width: 44px;
    color: #ffc107;
    border-radius: 50%;
    bottom: 30px;
    left: 40px;
    z-index: 11;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.contactMe img {
    filter: invert(78%) sepia(86%) saturate(2897%) hue-rotate(351deg) brightness(100%) contrast(103%);
    width: 30px;
    height: 30px;
}

#contactMe {
    position: absolute;
    left: 534px;
    top:25px;
}

#contactMeText {
    position: absolute;
    left: 567px;
    top: 3px;
}

.breadcrumb {
    background: none;
    border:none;
}
